@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Helvetica.woff2");
}

@font-face {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Arial.woff2");
}